CLIENT_SECRET=""
CLIENT_ID=""
ACCOUNT_USERNAME=""
ACCOUNT_PASSWORD=""
CREATOR_USERNAME=""  # your personal reddit username
GITHUB_ACCOUNT_USERNAME="" # your github username
GITHUB_TOKEN="" #must have gist permissions
